:root {
   --fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;

   --sidebar-width: 16rem;
   --sidebar-uwidth: -16rem;
   --header-height: 3.5rem;
}

*,
::before,
::after {
   box-sizing: border-box;
}

* {
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   -moz-user-focus: none;
}

* {
   margin: 0;
}

html,
body {
   height: 100vh;
}

body {
   font-family: var(--fonts);
   text-rendering: optimizeLegibility;
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   line-height: 1.125;
   font-weight: 700;
   margin: 0;
}

h1 {
   font-size: 2.5em;
   font-weight: 600;
}

h2 {
   font-size: 2em;
   font-weight: 600;
}

h3 {
   font-size: 1.5em;
}

h4 {
   font-size: 1.17em;
}

h5 {
   font-size: 1em;
}

h6 {
   font-size: 0.83em;
}

:not(p) > a {
   text-decoration: none;
   color: inherit;
}

a[href] * {
   pointer-events: none;
}

hr {
   border: 0;
   border-top: 1px solid #dadce0;
   margin: 1rem 0 1.5rem;
}

article {
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1em;
   padding-right: 1em;
   width: 100%;
   max-width: 100%;
   margin: 0 auto;
}

@media screen and (min-width: 576px) {
   article {
      padding-left: 1.5em;
      padding-right: 1.5em;
      max-width: 540px;
   }
}

@media screen and (min-width: 768px) {
   article {
      padding-left: 2em;
      padding-right: 2em;
      max-width: 720px;
   }
}

@media screen and (min-width: 992px) {
   article {
      max-width: 960px;
   }
}

@media screen and (min-width: 1200px) {
   article {
      padding-left: 3em;
      padding-right: 3em;
      max-width: 1140px;
   }
}

@media screen and (min-width: 1400px) {
   article {
      max-width: 1360px;
   }
}

/* BUTTON */

button {
   display: inline-block;
   font-family: var(--fonts);
   font-size: var(--size, 1em);
   border: 1px solid var(--border, #dadce0);
   background: var(--background, #dadce077);
   color: var(--fcolor, #334);
   padding: 0 1.125em;
   line-height: 2.25;
   outline: 0;
   border-radius: 1.5em;
   gap: 0.25em;
   cursor: pointer;

   &:hover {
      z-index: 1;
      box-shadow: 0 0 0 0.2em var(--shadow, #dadce055);
   }

   &:active {
      z-index: 1;
      box-shadow: inset 0.0625em 0.0625em 0.3125em rgba(67, 74, 84, 0.875);
   }
}

/* INPUT */

input {
   display: inline-block;
   font-family: var(--fonts);
   border: 1px solid #dadce0;
   color: #434a54;
   font-size: var(--size, 1em);
   padding: 0 1em;
   line-height: 2.25em;
   outline: 0;
   border-radius: 1.5em;
   width: 100%;

   &:hover {
      z-index: 1;
   }

   &:focus {
      z-index: 1;
      box-shadow: 0 0 0 0.2em var(--shadow, #dadce055);
      border-color: var(--border, #dadce0);
   }
}

@media screen and (min-width: 768px) {
   input {
      width: unset;
   }
}
